body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 10;
}

header {
  background-color: #1e90ff;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  background-color: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 6px;
}

button {
  padding: 8px 12px;
  background-color: #1e90ff;
  color: white;
  border: none;
  cursor: pointer;
}

input {
  padding: 8px;
  width: 70%;
  margin-right: 10px;
}

#message {
  margin-top: 10px;
  font-weight: bold;
}

#resumeLink {
  display: none;
  margin-top: 10px;
}
